body {
	margin: 0;
	padding: 0;
}


#root {
	display: flex;
	justify-content: center;
}

.wrapper {
	width: 800px;
}

.post {
	display: flex;
	border: 2px solid #000;
	padding: 15px;
	margin-bottom: 15px;
	justify-content: space-between;
	align-items: center;
}

.post__content {
	display: flex;
	flex-direction: column;
	width: 600px;
	hyphens: auto;
}